.hightlited-text {
    color: blue;
}

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Kefa, sans-serif;
}
.menu-list {
    padding: 0;
}

.row {
    margin: 50px 0;
}

a {
    text-decoration: none;
    color:black;
}

.logo a {
    font-size: 80px;
    color: #4bcaff;
    margin: 0;
}
.contrast-color {
    color: #000;
}

.top-menu {
    background: darkslategray;
    color: darkslategray;
    text-align: center;
}
.item {
    list-style: none;
    display: inline-block;
    padding: 25px 44px;
    font-size: 24px;
    border: solid #35444f;
    border-width: 0 1px;
    transition: all 0.3s;
}
.item:hover {
    background: darkslategray;
    border: solid #818181;
    border-width: 0 1px;
}
.item > a {
    color:#818181;
}


.left-menu {
    border: 1px solid #000000;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.left-menu__item {
    list-style: none;
    font-size: 27px;
    padding: 30px 80px 30px 40px;
    transition: all 0.3s;
}
.left-menu__item:hover {
    padding: 30px 50px 30px 70px;
    background: #b4b7ba;
}

.content {
    width: 69%;
    display: inline-block;
    padding-left: 50px;
    box-sizing: border-box;
}
.image {
    width: 100%;
    height: 525px;
    border: 1px solid #000000;
    background: url("../img/top-img.png") no-repeat center;
    margin-bottom: 50px;
    background-size: 40%;
    transition: all 0.5s ease-out;

}
.image:hover {
    background-size: 45%;
    transition: all 0.5s ease-out;
}
.text {
    font-size: 17px
    padding: 0 25px;
}

.footer {
    background: #b4b7ba;
    padding: 0 34px;
    box-sizing: border-box;
    font-size: 28px;
}
.footer .menu-list {
    display: inline;
}
.footer__item {
    list-style: none;
    display: inline-block;
    padding: 22px 7px;
    transition: all 0.3s;
}
.footer__item a {
    transition: all 0.3s;
}
.footer__item a:hover {
    border-bottom: 2px solid;
    border-color:#4bcaff;
    padding-bottom: 8px;
    color: #4bcaff6;
}
.copyright {
    display: inline-block;
    float: right;
    padding: 22px 0;
}
